.table-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 98%;
}

.table-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.scrollable-tbody {
    flex: 1;
    overflow-y: auto;
    /* Hide scrollbar for WebKit browsers */
    -webkit-overflow-scrolling: touch;
}

.scrollable-tbody::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Hide scrollbar for Firefox */
.scrollable-tbody {
    scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
.scrollable-tbody {
    -ms-overflow-style: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

.table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 15px;
    font-weight: 600;
    border-bottom: 2px solid #dee2e6;
    background-color: #eaeaea;
    color: rgb(52, 52, 52);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.table tbody tr:hover td {
    cursor: pointer;
    background-color: #f3f3f3;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.table td {
    padding: 8px;
    vertical-align: middle;
}

.table .dropdown-menu {
    min-width: 150px;
}

.custom-label {
    font-weight: 500;
}

.scrollable-tbody {
    max-height: 63vh;
    overflow-y: auto;
}


.scrollable-container {
    flex: 1;
    /* display: flex; */
    overflow-y: auto;
    overflow-x: hidden;
}


.btn-edit {
    color: #5a5a5a;
}

.btn-edit:hover {
    background-color: transparent;
    color: #3cc540;
}

.btn-delete {
    color: #5a5a5a;
}

.btn-delete:hover {
    background-color: transparent;
    color: #F44336;
}

.btn-print {
    color: #5a5a5a;
}

.btn-print:hover {
    background-color: transparent;
    color: #007BFF;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle {
    color: rgb(69, 69, 69);
    border: none;
    background-color: transparent;
}

.dropdown-menu {
    min-width: 100px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* filter css */
.input-group {
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
    overflow: hidden;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
.input-group:hover,
.input-group:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #007bff;
}
.input-group-text {
    background-color: #ffffff;
    border: none;
    color: #464646;
    transition: color 0.3s ease;
}
.input-group-text:hover {
    color: #242527;
}
.role-filter .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    width: 120px;
    border-radius: 0.375rem;
    align-items: center;
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.role-filter .dropdown-toggle span.option-count {
    margin-left: auto;
}

.role-filter .dropdown-toggle:hover,
.role-filter .dropdown-toggle:focus {
    color: black;
    background-color: #ededed;
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.role-filter .dropdown-item {
    width: 120px;
    display: flex;
    justify-content:space-evenly;
    background-color: #fff;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.role-filter .dropdown-item i {
    margin-right: 6px;
    margin-top: 2px;
}
.role-filter .dropdown-toggle i {
    margin-right: 6px;
    margin-top: 3px;
}
.role-filter .dropdown-item span.option-count {
    margin-left: auto;
}

.role-filter .dropdown-item:hover {
    background-color: #f1f1f1;
    color: #434343;
}

.option-count {
    font-weight: bold;
    display: inline-flex;
    justify-content: space-between;
    border-radius: 25%;
    padding: 3px 8px;
    color: #003d7a;
    background: linear-gradient(60deg, #76b2ff, #c2e9fb);
}

.role-filter .dropdown-item:hover .option-count {
    color: #fff;
}

.role-filter .dropdown-toggle::after {
    content: '▼';
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.role-filter .dropdown-toggle[aria-expanded="true"]::after {
    transform: translateY(-50%) rotate(180deg);
}

/* form css */
.modal-header {
    padding: 0.5rem 1rem;
    background-color: rgb(219, 219, 219);
}
.modal-body {
    padding-top: 25px;
    border: solid 1px rgb(219, 219, 219);
    border-radius: 0px 0px 5px 5px;
}
.modal-title {
    font-weight: bold;
}

.btn-modal {
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    color: black;
    transition: background-color 0.3s ease-in-out;
    background-color: #258eff;
}

.btn-modal:hover {
    color: white;
    background-color: #2284ec;
}
.container-custom {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}
.form-label {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    background: #fff;
    padding: 0 5px;
    color: #aaa;
    transition: 0.2s ease all;
    pointer-events: none;
}
.form-control:focus,
.form-select:focus,
.form-control.filled,
.form-select.filled {
    border-color: #007bff;
    box-shadow: none;
}
.form-control:focus ~ .form-label,
.form-select:focus ~ .form-label,
.form-control:not(:placeholder-shown) ~ .form-label,
.form-select:not(:placeholder-shown) ~ .form-label {
    top: 0;
    transform: translateY(-60%);
    left: 5%;
    font-size: 14px;
    color: #007bff;
}
.form-control.filled ~ .form-label,
.form-select.filled ~ .form-label,
.form-control:not(:placeholder-shown) ~ .form-label,
.form-select:not(:placeholder-shown) ~ .form-label {
    color: black;
}
.form-control:focus ~ .form-label,
.form-select:focus ~ .form-label,
.form-control:focus.filled ~ .form-label,
.form-select:focus.filled ~ .form-label {
    color: #007bff;
}
.form-select {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.form-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table th, .table td {
    padding: 10px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}
.btn-success {
  color:rgb(2, 201, 2) ;
  background-color: #fdfdfd;
  border: 1px solid rgb(2, 201, 2);
  transition: background-color 0.3s ease-in-out;
}
.btn-success:hover {
  color: white;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(2, 201, 2);;
}
.btn-danger {
  color: red;
  background-color: #fdfdfd;
  border: 1px solid red;
  transition: background-color 0.3s ease-in-out;
}
.btn-danger:hover {
  color: white;
  border: 1px solid rgb(255, 255, 255);
  background-color: red;
}
.form-check-inline {
  margin-right: 10px;
}
.form-check-label {
  margin-bottom: 0;
}
#status{
    margin-left: 10px;
}

.form-select option.selected{
    background-color: #0d4175;
}

/* pagination and show entries css */
.pagination {
    font-size: 0.60rem;
    justify-content: flex-end;
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 2px;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
    padding: 3px 6px;
    border: 1px solid #007bff;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.pagination a:hover,
.pagination .active a {
    background-color: #007bff;
    color: white;
}

.pagination .disabled a {
    color: #6c757d;
    pointer-events: none;
    border-color: #6c757d;
}
.entries-info span {
 margin: 0 5px;
}

.form-select.entriesPerPage {
width: auto;
display: inline-block;
vertical-align: middle;
height: 34px; /* Match height with other form elements */
}


.card {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}



.card-header {
    color: black;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.card-content .row {
    margin-bottom: 10px;
}

.card-content .col-6 {
    padding: 5px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: black; /* Set font color to black */
    background-color: transparent; /* Ensure background color is transparent */
    text-decoration: none; /* Remove any text decoration if needed */
}



/* Scrollable but hidden container */
.scroll-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 20px; /* Adjust as needed */
}

/* Style for the select element */
.select-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 1;
}

select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.floating-alert {
    position: fixed;
    top: -100px; 
    right: 30%;
    z-index: 1050;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #28a745; 
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out; 
}

.floating-alert.show {
    top: 100px; 
}
