{% extends "Base/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/Dashboard/Dashboard.css' %}">
    <style>
      .floating-alert {
          position: fixed;
          top: -100px; /* Hidden above the view initially */
          right: 40%;
          z-index: 1050;
          width: auto;
          padding: 10px 20px;
          border-radius: 5px;
          background-color: #28a745; /* Green background for success */
          color: white;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          transition: top 0.5s ease-in-out; /* Smooth transition for appearing */
      }

      .floating-alert.show {
          top: 100px; /* Slide down to be visible */
      }
  </style>
{% endblock styles %}

{% block content %} 
<div class="container mt-2 table-container fade-in">
    <div id="floating-alert" class="floating-alert">
      Login Successful!
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div class="ms-auto">
            <div class="d-flex align-items-right">
                <div class="dropdown role-filter">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="roleFilterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Status
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="roleFilterDropdown">
                        <li><a class="dropdown-item" onchange="updateTable()" href="#" data-value="all">All Status<span class="option-count">3</span></a></li>
                        <li><a class="dropdown-item" onchange="updateTable()" href="#" data-value="offline"><i class="fa-regular fa-circle-stop" style="color: #d20f0f;"></i>  Offline <span class="option-count">1</span></a></li>
                        <li><a class="dropdown-item" onchange="updateTable()" href="#" data-value="online"><i class="fa-regular fa-circle-stop" style="color: #369523;"></i>Online <span class="option-count">1</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center custom-label mb-2" style="font-weight: bold; padding: 5px 10px; background-color: rgb(235, 235, 235);">
        <div class="alert-container">
            Alert <span id="records-info">(Records Found: 0)</span>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <div class="d-flex input-group me-3" style="width: 200px;">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <input type="text" id="searchBar" class="form-control" placeholder="Search here..">
            </div>
            <div class="d-flex">
                <button type="button" class="btn btn-primary me-2" id="gridViewButton"><i class="fas fa-th-large"></i> Grid</button>
                <button type="button" class="btn btn-secondary" id="listViewButton"><i class="fa-solid fa-bars"></i> List </button>
            </div>
        </div>
    </div>
    <div class="scrollable-container">
      <div class="row" id="gridView">
          {% for equipment in equipment_data %}
              <div class="col-12 col-md-6 col-lg-3 card-wrapper" data-status="{{ equipment.status|lower }}">
                  <div class="card">
                      <div class="card-header">
                          <h5 class="card-title mb-0">{{ equipment.name }}</h5>
                      </div>
                      <div class="card-body">
                          <div class="card-content">
                              <div class="row">
                                  <div class="col-6"><strong>Status</strong></div>
                                  <div class="col-6">
                                      {% if equipment.status == 'Online' %}
                                          <i class="fa-regular fa-circle-check" style="color: #28a745;"></i> Online
                                      {% else %}
                                          <i class="fa-regular fa-circle-stop" style="color: #d20f0f;"></i> Offline
                                      {% endif %}
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-6"><strong>Pending Alarms</strong></div>
                                  <div class="col-6"><i class="fas fa-exclamation-triangle icon-yellow"></i> Alarms ({{ equipment.pending_review }})</div>
                              </div>
                              <div class="row">
                                  <div class="col-6"><strong>Pending Review</strong></div>
                                  <div class="col-6">ALL RECORDS</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>
  
    <!-- <div class="table-wrapper"> -->
    <div class="table-wrapper" id="tableView" style="display: none;">
      <div class="scrollable-tbody"> 
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Equipment Name</th>
              <th scope="col">Status</th>
              <th scope="col">Pending Alarms</th>
              <th scope="col">Pending Review</th>
              
            </tr>
          </thead>
          <tbody id="form-data-table">
            {% for equipment in equipment_data %}
            <tr>
              
              <td>{{ equipment.name }}</td>
              <td><i class="fa-regular fa-circle-stop" style="color: #d20f0f;"></i> {{ equipment.status|lower }}</td>
              <td><i class="fas fa-exclamation-triangle icon-yellow"></i> Alarms ({{ equipment.pending_review }})</td>
              <td>ALL RECORDS</td>
             
            </tr>
            {% endfor %}
           
          </tbody>
        </table>
      </div>
    </div>


    <div class="d-flex justify-content-between align-items-center ">
      <div class="entries-info d-flex align-items-center">
        <span>Show</span>
        <select id="entriesPerPage" class="form-select d-inline-block mx-2 entriesPerPage">
          <option value="10" selected>10</option>
          <option value="15">15</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <span>entries per page</span>
      </div>
      <div class="entries-info d-flex align-items-center">
        <small>Showing <span id="visible-entries">0</span> of <span id="total-entries">0</span> entries</small>
      </div>
      <nav aria-label="Page navigation" class="d-flex justify-content-end">
        <ul class="pagination">
          <li class="page-item" id="prev-page"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item" id="next-page"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% block scripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  <script src="{% static 'js/Dashboard/Dashboard.js' %}"></script>
  <script>
    function showFloatingAlert() {
        var alertElement = document.getElementById('floating-alert');
        alertElement.classList.add('show'); // Show the alert by adding the 'show' class

        // Hide the alert after 2 seconds
        setTimeout(function() {
            alertElement.classList.remove('show'); // Remove the 'show' class to hide the alert
        }, 2000); // 2 seconds delay
    }

    // Automatically show the alert if there's a success message
    window.onload = function() {
        {% if messages %}
            {% for message in messages %}
                {% if 'success' in message.tags %}
                    showFloatingAlert();
                {% endif %}
            {% endfor %}
        {% endif %}
    }
  </script>
  {% endblock %}
{% endblock content %}


