.container-custom {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: auto;
}
.container {
    margin-top: 10px;
    padding: 10px;
}
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}
.form-label {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    background: #fff;
    padding: 0 5px;
    color: #aaa;
    transition: 0.2s ease all;
    pointer-events: none;
}
.form-control:focus,
.form-select:focus,
.form-control.filled,
.form-select.filled {
    border-color: #58a9ff;
    box-shadow: none;
}
.form-control:focus ~ .form-label,
.form-select:focus ~ .form-label,
.form-control:not(:placeholder-shown) ~ .form-label,
.form-select:not(:placeholder-shown) ~ .form-label {
    top: 0;
    transform: translateY(-60%);
    left: 20px;
    font-size: 14px;
    color: #439eff;
}
.form-control.filled ~ .form-label,
.form-select.filled ~ .form-label,
.form-control:not(:placeholder-shown) ~ .form-label,
.form-select:not(:placeholder-shown) ~ .form-label {
    color: black;
}
.form-control:focus ~ .form-label,
.form-select:focus ~ .form-label,
.form-control:focus.filled ~ .form-label,
.form-select:focus.filled ~ .form-label {
    font-weight: bold;
    color: #439eff;
}
.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-select::-ms-expand {
    display: none;
}
.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}
.switch-buttons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.switch-buttons .btn {
    margin: 0 5px;
}
.switch-buttons .btn.active {
    background-color: #439eff;
    border-color: #439eff;
}
.switch-buttons .btn-secondary.active {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success {
    color:rgb(2, 201, 2) ;
    background-color: #fdfdfd;
    border: 1px solid rgb(2, 201, 2);
    transition: background-color 0.3s ease-in-out;
  }
  .btn-success:hover {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(2, 201, 2);;
  }
  .btn-danger {
    color: red;
    background-color: #fdfdfd;
    border: 1px solid red;
    transition: background-color 0.3s ease-in-out;
  }
  .btn-danger:hover {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: red;
  }
 .form-span {
    display: block;
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Dark grey text color */
    padding: 5px 10px;
    border-radius: 4px; /* Rounded corners */
    text-align: center;
}