
{% extends "Base/base.html" %}
{% load static %}
{% block title %} --::: ESTDAS :::-- {% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/Management/comm_group.css' %}">
    <link rel="stylesheet" href="{% static 'alert_msg/alert_msg.css' %}">
    <style>
        /* Add responsive styles */
        @media (width: 768px) {
            .d-flex.justify-content-between.align-items-center.mt-3 {
                flex-direction: row; 
                align-items: center !important; 
            }

            .content {
                height: 85vh !important;
            }
        }
        @media (max-width: 767px) {
            .entries-info,
            .pagination {
                justify-content: center !important;
                /* margin-top: 10px; */
            }
            
            .row.align-items-center > div {
                text-align: center;
            }
            .content {
                height: 75vh !important;
            }
            .table-wrapper {
                overflow-x: auto;
            }
            .entries-info {
                flex-direction: column;
                align-items: flex-start;
            }
            .pagination {
                margin-top: 10px;
            }
            .d-flex.justify-content-between.align-items-center.mt-3 > div {
                text-align: center;
                margin: 5px 0;
            }
            #adminUserModal .modal-dialog {
                max-width: 95%;
                margin: 1.75rem auto;
            }
        }

        @media (max-width: 576px) {
            .custom-label {
                flex-direction: column !important;
                align-items: center;
            }
            .content {
                height: 75vh !important;
            }
            .entries-info, .pagination {
                justify-content: center;
                margin-top: 10px;
            }
            #adminUserModal .modal-dialog {
                margin: 0.5rem;
            }
            .d-flex.justify-content-end.align-items-center {
                flex-direction: column;
                align-items: stretch !important;
            }
            
            .d-flex.input-group {
                width: 100% !important;
                margin-bottom: 10px;
            }
            
            .btn-primary {
                width: 100%;
            }   
        }
    </style>
{% endblock styles %}

{% block content %}
<div class="container mt-2 table-container fade-in">
    <div id="floating-alert-success" class="floating-alert-success">
        <span id="floating-alert-success-message"></span>
    </div>
    
    <div id="floating-alert-error" class="floating-alert-error">
        <span id="floating-alert-error-message"></span>
    </div>
    <!-- <div class="d-flex justify-content-end mb-2">
        <button type="button" class="btn btn-primary">
            space for the others icons
        </button>
    </div> -->
    <div class="d-flex justify-content-between align-items-center custom-label mt-5 mb-2" style="font-weight: bold; padding: 5px 10px; background-color: rgb(235, 235, 235);">
        <section class="d-block custom-label mb-2" style="background-color: rgb(235, 235, 235); text-align: center; font-weight: bold; padding: 5px 0px">
            Comm. Group <span id="records-info">(Records Found: 0, Selected: 0)</span>
        </section>    
        <div class="d-flex justify-content-end align-items-center">
            <div class="d-flex input-group me-3" style="width: 200px;">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <input type="text" id="searchBar" class="form-control" placeholder="Search here..">
            </div>
            <div class="d-flex">
                
                {% if data.role == 'Super Admin' or acc_db.c_group_a %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adminUserModal">
                    Add Comm.group
                </button> 
                {% endif %}
            </div>
        </div> 
    </div>
    
    <div class="table-wrapper">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th scope="col">Comm. Code</th>
                    <th scope="col">Comm. Group</th>
                    {% if data.role == 'Super Admin' or acc_db.c_group_e %}
                    <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="form-data-table" class="scrollable-tbody">
                {% for group in comm_groups %}
                <tr>
                    <td><input type="checkbox" class="row-checkbox" name="comm_checkbox"></td>
                    <td>{{ group.CommGroup_code }}</td>
                    <td>{{ group.CommGroup_name }}</td>

                    {% if data.role == 'Super Admin' or acc_db.c_group_e %}
                    <td>
                        <div class="dropdown">
                            <a class="dropdown-item btn-edit"  data-bs-toggle="edit_modal" data-bs-target="#editCommGroupModal-{{ group.CommGroup_code }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row align-items-center mt-3 mb-2">
        <!-- Entries Per Page Dropdown -->
        <div class="col-12 col-md-5 justify-content-start align-items-center mb-2 mb-md-0 entries-info">
            <span>Show</span>
            <select id="entriesPerPage" class="form-select d-inline-block mx-2 entriesPerPage">
                <option value="10" selected>10</option>
                <option value="15">15</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <span>entries per page</span>
        </div>
    
        <!-- Showing Entries Info -->
        <div class="col-12 col-md-3 d-flex justify-content-center align-items-center mb-2 mb-md-0">
            <small>Showing <span id="visible-entries">0</span> of <span id="total-entries">0</span> entries</small>
        </div>
    
        <!-- Pagination -->
        <div class="col-12 col-md-4 d-flex justify-content-md-end justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination mb-0">
                    <li class="page-item" id="prev-page"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item" id="next-page"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>    
</div>

<!-- The Modal -->
<div class="modal fade" id="adminUserModal" tabindex="-1" aria-labelledby="adminUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container-custom">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="adminUserModalLabel">Comm.Group Form</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form id="adminUserForm" method="post" action="{% url 'comm_group' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <input type="text" class="form-control" id="comm_name" name="comm_name" maxlength="50" placeholder=" " required oninput="checkUsernameAvailability()">
                            <label for="comm_name" class="form-label">Comm.Group Name</label>
                            <div id="usernameError" class="text-danger"></div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <input type="number" class="form-control" id="comm_code" name="comm_code" maxlength="10" placeholder=" " required oninput="checkcodeAvailability()">
                            <label for="comm_code" class="form-label">Comm.Group Code</label>
                            <div id="codeerror" class="text-danger"></div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <input type="text" class="form-control" id="softKey" name="softKey" maxlength="50" placeholder=" " required value="{{ soft_key }}" readonly>
                            <label for="softKey" class="form-label">Soft Key</label>
                        </div>
                        <div class="col-sm-12 form-group">
                            <input type="text" class="form-control" id="activationKey" name="activationKey" placeholder=" " required>
                            <label for="activationKey" class="form-label">Activation Key</label>
                        </div>
                        <!-- <div class="col-sm-1 form-group">
                            <span id="validationIcon" class="position-absolute"></span>
                        </div> -->
                        <div class="col-sm-12 d-flex align-items-center">
                            <span id="validationIcon" class="validation-icon"></span> 
                            <span id="activationKeyMessage" class="form-text" style="margin-top: -5px; display: block;"></span>
                        </div>
                        <div class="col-sm-12 form-group d-flex align-items-center">
                            <button type="button" id="validateButton" class="btn btn-primary validate-btn">Validate</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" id="saveButton" disabled>Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% for group in comm_groups %}
<div class="modal fade" id="editCommGroupModal-{{ group.CommGroup_code }}" tabindex="-1" aria-labelledby="editCommGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container-custom">
            <div class="modal-header">
                <h4 class="modal-title" id="editCommGroupModalLabel">Edit Comm.Group Form</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editCommGroupForm" method="post" action="{% url 'edit_comm_group' group.CommGroup_code %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="edit_comm_name" id="edit_comm_name" value="{{ group.CommGroup_name }}" maxlength="50" required>
                            <label for="edit_comm_name" class="form-label">Comm.Group Name</label>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="number" class="form-control" name="edit_comm_code" id="edit_comm_code" value="{{ group.CommGroup_code }}" readonly >
                            <label for="edit_comm_code" class="form-label">Comm.Group Code</label>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="edit_softKey" id="edit_softKey" value="{{ group.soft_key }}" maxlength="50"  readonly>
                            <label for="edit_softKey" class="form-label">Soft Key</label>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="edit_activationKey" id="edit_activationKey" value="{{ group.activation_key }}" maxlength="50" readonly>
                            <label for="edit_activationKey" class="form-label">Activation Key</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    document.querySelectorAll('.btn-edit').forEach(button => {
    button.addEventListener('click', function() {
        const modalId = this.getAttribute('data-bs-target');
        const modal = document.querySelector(modalId);
        const modalInstance = new bootstrap.Modal(modal);
        modalInstance.show();
    });
});


function getExistingUsernames() {
    const tableRows = document.querySelectorAll('#form-data-table tr');
    const usernames = [];
    tableRows.forEach(row => {
        const usernameCell = row.querySelector('td:nth-child(3)'); 
        if (usernameCell) {
            usernames.push(usernameCell.textContent.trim());
        }
    });

    return usernames;
}




function checkUsernameAvailability() {
   
   const inputUsername = document.getElementById('comm_name').value;
   const usernameErrorDiv = document.getElementById('usernameError');
   const existingUsernames = getExistingUsernames();
   const saveButton=document.getElementById('saveButton')

   if (existingUsernames.includes(inputUsername)) {
       usernameErrorDiv.textContent = 'This name is already existing.';
       saveButton.disabled = true;
   } else {
       usernameErrorDiv.textContent = '';
       saveButton.disabled = false; 
   }
}


function getExistingcode() {
    const tableRows = document.querySelectorAll('#form-data-table tr');
    const usernames = [];
    tableRows.forEach(row => {
        const usernameCell = row.querySelector('td:nth-child(2)'); 
        if (usernameCell) {
            usernames.push(usernameCell.textContent.trim());
        }
    });

    return usernames;
}




function checkcodeAvailability() {
   
   const inputUsername = document.getElementById('comm_code').value;
   const usernameErrorDiv = document.getElementById('codeerror');
   const existingUsernames = getExistingcode();
   const saveButton=document.getElementById('saveButton')

   if (existingUsernames.includes(inputUsername)) {
       usernameErrorDiv.textContent = 'This code is already existing.';
       saveButton.disabled = true;
   } else {
       usernameErrorDiv.textContent = '';
       saveButton.disabled = false; 
   }
}


document.getElementById('adminUserModal').addEventListener('hidden.bs.modal', function () {
  
    var form = document.getElementById('adminUserForm');
    if (form) {
        form.reset(); 
    }
    var usernameErrorDiv = document.getElementById('usernameError');
    if (usernameErrorDiv) {
        usernameErrorDiv.textContent = '';
    }

    var codediv = document.getElementById('codeerror');
    if (codediv) {
        codediv.textContent = '';
    }
    var validationIcon = document.getElementById('validationIcon');
    var activationKeyMessage = document.getElementById('activationKeyMessage');
    if (validationIcon) {
        validationIcon.innerHTML = '';  
    }
    if (activationKeyMessage) {
        activationKeyMessage.textContent = '';
        activationKeyMessage.style.color = '';  
    }
    var saveButton = document.getElementById('saveButton');
    if (saveButton) {
        saveButton.disabled = true; 
    }
});


</script>
{% block scripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/Management/comm_group.js' %}"></script>
  <script>
    document.getElementById('validateButton').addEventListener('click', function() {
        var activationKey = document.getElementById('activationKey').value;
        var softKey = document.getElementById('softKey').value;
        var validationIcon = document.getElementById('validationIcon');
        var activationKeyMessage = document.getElementById('activationKeyMessage');
        var saveButton = document.getElementById('saveButton');
        var validateButton = document.getElementById('validateButton');
        
        $.ajax({
            type: 'POST',
            url: '{% url "validate_activation_key" %}',
            data: {
                'activation_key': activationKey,
                'soft_key': softKey,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.validation_icon === '✔') {
                    validationIcon.innerHTML = '<i class="fas fa-check-circle" style="color: green;"></i>';
                    activationKeyMessage.textContent = "Activation Key is valid";  // Set valid message
                    activationKeyMessage.style.color = "green";  // Set color for valid message
                    saveButton.disabled = false;
                    validateButton.style.display = 'none';
    
                    var deviceCountInput = document.createElement('input');
                    deviceCountInput.type = 'hidden';
                    deviceCountInput.name = 'device_count';
                    deviceCountInput.value = response.device_count;
                    document.getElementById('adminUserForm').appendChild(deviceCountInput);
                } else {
                    validationIcon.innerHTML = '<i class="fa fa-times-circle" style="color: red;"></i>';
                    activationKeyMessage.textContent = "Activation Key is Invalid or already exists!";  // Show message from response
                    activationKeyMessage.style.color = "red";  // Set color for invalid messages
                    saveButton.disabled = true;
                    validateButton.style.display = 'inline-block';
                }
            },
            error: function() {
                validationIcon.innerHTML = '<i class="fa fa-times-circle" style="color: red;"></i>';
                activationKeyMessage.textContent = "Validation failed. Please try again.";  // Fallback error message
                activationKeyMessage.style.color = "red";
                saveButton.disabled = true;
                validateButton.style.display = 'inline-block';
            }
        });
    });

// Reset the error message when the modal is closed
document.getElementById('adminUserModal').addEventListener('hidden.bs.modal', function() {
        var activationKeyMessage = document.getElementById('activationKeyMessage');
        var validationIcon = document.getElementById('validationIcon');

        // Clear the error message and validation icon
        activationKeyMessage.textContent = '';
        activationKeyMessage.style.color = '';
        validationIcon.innerHTML = '';
    });

  </script>

  {% if messages %}
    {% for message in messages %}
        {% if 'success' in message.tags %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var successAlertElement = document.getElementById('floating-alert-success');
                    var successMessage = document.getElementById('floating-alert-success-message');

                    // Set the success message and display the floating alert
                    successMessage.textContent = "{{ message|safe }}";
                    successAlertElement.style.display = 'block';
                    successAlertElement.classList.add('show');

                    // Hide the success alert automatically after 3 seconds
                    setTimeout(function () {
                        successAlertElement.classList.remove('show');
                        setTimeout(() => {
                            successAlertElement.style.display = 'none';
                        }, 500); // Extra delay for smooth transition
                    }, 3000); 
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var errorAlertElement = document.getElementById('floating-alert-error');
                    var errorMessage = document.getElementById('floating-alert-error-message');

                    // Set the error message and display the floating alert
                    errorMessage.textContent = "{{ message|safe }}";
                    errorAlertElement.style.display = 'block';
                    errorAlertElement.classList.add('show');

                    // Hide the error alert automatically after 3 seconds
                    setTimeout(function () {
                        errorAlertElement.classList.remove('show');
                        setTimeout(() => {
                            errorAlertElement.style.display = 'none';
                        }, 500); // Extra delay for smooth transition
                    }, 3000); 
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
  {% endblock %}
{% endblock content %}


