
{% extends "Base/base.html" %}
{% load static %}
{% block title %} department {% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/Management/department.css' %}">
    <style>
      /* Add responsive styles */
      @media (max-width: 992px) {
          .table-wrapper {
              overflow-x: auto;
          }
          
          .custom-label {
              flex-direction: column;
              align-items: stretch;
          }
          
          .custom-label > div {
              margin-top: 10px;
          }
          
          .d-flex.justify-content-end.align-items-center {
              flex-direction: column;
              align-items: stretch !important;
          }
          
          .d-flex.input-group {
              width: 100% !important;
              margin-bottom: 10px;
          }
          
          .btn-primary {
              width: 100%;
          }
      }

      @media (max-width: 768px) {
          .entries-info {
              flex-direction: column;
              align-items: flex-start;
          }
          
          .pagination {
              margin-top: 10px;
          }
          
          .d-flex.justify-content-between.align-items-center.mt-3 {
              flex-direction: column;
              align-items: stretch !important;
          }
          
          .d-flex.justify-content-between.align-items-center.mt-3 > div {
              text-align: center;
              margin: 5px 0;
          }
          
          #adminUserModal .modal-dialog {
              max-width: 95%;
              margin: 1.75rem auto;
          }
      }

      @media (max-width: 576px) {
          .entries-info, .pagination {
              justify-content: center;
              margin-top: 10px;
          }
          
          #adminUserModal .modal-dialog {
              margin: 0.5rem;
          }
          
          .form-buttons {
              flex-direction: column;
          }
          
          .form-buttons .btn {
              width: 100%;
              margin-bottom: 10px;
          }
      }
  </style>
{% endblock styles %}

{% block content %} 
<div class="container mt-2 table-container fade-in">
    <div class="d-flex justify-content-end mb-1 p-4">
    </div>
    <div class="d-flex justify-content-between align-items-center custom-label mb-2" style="font-weight: bold; padding: 5px 10px; background-color: rgb(235, 235, 235);">
        <section class=" d-block custom-label mb-2" style="background-color: rgb(235, 235, 235);text-align: center;font-weight: bold; padding: 5px 0px">
            Departments<span id="records-info">(Records Found: 0, Selected: 0)</span>
        </section>
        <div class="d-flex justify-content-end align-items-center">
            <div class="d-flex input-group me-3" style="width: 200px;">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <input type="text" id="searchBar" class="form-control" placeholder="Search here..">
            </div>
            <div class="d-flex">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#departmentModal">
                    Add Department
                </button>
            </div>
        </div> 
    </div>
    <div class="table-wrapper">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Comm. Group</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="form-data-table">
                {% for department in departments %}
                <tr>
                    <td><input type="checkbox" class="row-checkbox" name="comm_checkbox"></td>
                    <td>{{department.department_name}}</td>
                    <td>{{ department.commGroup.CommGroup_name }}</td>
                    <td>
                        <div class="dropdown">
                          <a class="dropdown-item btn-edit"  data-bs-toggle="edit_modal" data-bs-target="#editDeptModal-{{ department.id }}">
                            <i class="fas fa-edit"></i>
                        </a>
    
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="entries-info d-flex align-items-center">
            <span>Show</span>
            <select id="entriesPerPage" class="form-select d-inline-block mx-2 entriesPerPage">
                <option value="10" selected>10</option>
                <option value="15">15</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <span>entries per page</span>
        </div>
        <div>
            <small>Showing <span id="visible-entries">0</span> of <span id="total-entries">0</span> entries</small>
        </div>
        <nav aria-label="Page navigation" class="d-flex justify-content-end">
            <ul class="pagination">
                <li class="page-item" id="prev-page"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item" id="next-page"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="departmentModal" tabindex="-1" aria-labelledby="departmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container-custom">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="adminUserModalLabel">Department and settings</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body with Tabs -->
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="department-tab" data-bs-toggle="tab" href="#department" role="department" aria-controls="department" aria-selected="true">Department Form</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="email-tab" data-bs-toggle="tab" href="#email" role="tab" aria-controls="email" aria-selected="false">Email Form</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="sms-tab" data-bs-toggle="tab" href="#sms" role="tab" aria-controls="sms" aria-selected="false">SMS Form</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="whatsapp-tab" data-bs-toggle="tab" href="#whatsapp" role="tab" aria-controls="whatsapp" aria-selected="false">WhatsApp Form</a>
                    </li>
                </ul>
                <!-- Tab content -->
                <div class="tab-content mt-3" id="myTabContent">
                    <!-- Department Form -->
                    <div class="tab-pane fade show active" id="department" role="tabpanel" aria-labelledby="department-tab">
                        <form method="post" id="deptForm" action="{% url 'department' %}">
                            {% csrf_token %}
                            <div class="row">
                              <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="departmentName" name="departmentName" maxlength="15" placeholder=" " required>
                                <label for="departmentName" class="form-label">Department Name*</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <select class="form-select" id="commGroup" name="commGroup" placeholder=" " required>
                                  <option value="">-- Select Comm. Group --</option>  
                                  {% for group in groups %}
                                    <option value="{{ group.CommGroup_name }}">{{ group.CommGroup_name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="commGroup" class="form-label">Comm. Group*</label>
                            </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="headerNote" name="headerNote" placeholder=" " required>
                                <label for="headerNote" class="form-label">Header Note*</label>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="footerNote" name="footerNote" placeholder=" " required>
                                <label for="footerNote" class="form-label">Footer Note</label>
                            </div>
                            <div class="col-md-12 form-group d-flex align-items-center ">
                              <h6 style="margin-right: 10px;">Report Date/Time Stamp:</h6>
                              <div id="status">
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="report-datetime-stamp" id="report-datetime-stamp-yes" value="Yes" >
                                  <label class="form-check-label" for="report-datetime-stamp-yes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="report-datetime-stamp" id="report-datetime-stamp-no" value="No">
                                  <label class="form-check-label" for="report-datetime-stamp-no">No</label>
                                </div>
                              </div>
                            </div>
                            <div class="form-buttons">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="hidden">Close</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                    <!-- Email Form (Empty) -->
                    <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
                         <!-- Email Form fields -->
          <form id="emailForm">
            <div class="container">
              <div class="row">
                <div class="col-md-12 form-group d-flex align-items-center ">
                  <h6 style="margin-right: 10px;">Email System:</h6>
                  <div id="status">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="email_status" id="email-enable1" value="Enable" >
                      <label class="form-check-label" for="email-enable1">Enable</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="email_status" id="email-disable1" value="Disable">
                      <label class="form-check-label" for="email-disable1">Disable</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 form-group">
                  <input type="text" class="form-control" name="email_alert" id="email_alert" placeholder=" " required>
                  <label for="email_alert" class="form-label">Email Alert Delay</label>
                </div>
                <div class="col-md-4 form-group">
                  <input type="time" class="form-control" name="email_time" id="email_time" placeholder=" " required>
                  <label for="email_time" class="form-label">Email Time</label>
                </div>
                <div class="col-md-4 form-group">
                  <input type="email" class="form-control" name="email_address_1" id="email_address_1" placeholder=" " required>
                  <label for="email_address_1" class="form-label">Alert Email Address 1*</label>
                </div>
                <div class="col-md-4 form-group">
                  <input type="email" class="form-control" name="email_address_2" id="email_address_2" placeholder=" " required>
                  <label for="email_address_2" class="form-label">Alert Email Address 2*</label>
                </div>
                <div class="col-md-4 form-group">
                  <input type="email" class="form-control" name="email_address_3" id="email_address_3" placeholder=" " required>
                  <label for="email_address_3" class="form-label">Alert Email Address 3*</label>
                </div>
                <div class="col-md-4 form-group">
                  <input type="email" class="form-control" name="email_address_4" id="email_address_4" placeholder=" " required>
                  <label for="email_address_4" class="form-label">Alert Email Address 4*</label>
                </div>
                <div class="col-md-4 form-group">
                  <input type="email" class="form-control" name="email_address_5" id="email_address_5" placeholder=" " required>
                  <label for="email_address_5" class="form-label">Alert Email Address 5*</label>
                </div>
                <div class="col-md-4 form-group">
                  <input type="email" class="form-control" name="email_address_6" id="email_address_6" placeholder=" " required>
                  <label for="email_address_6" class="form-label">Alert Email Address 6*</label>
                </div>
                <div class="col-md-4 form-group">
                  <input type="email" class="form-control" name="email_address_7" id="email_address_7" placeholder=" " required>
                  <label for="email_address_7" class="form-label">Alert Email Address 7*</label>
                </div>
                <div class="col-md-4 form-group">
                  <input type="email" class="form-control" name="email_address_8" id="email_address_8" placeholder=" " required>
                  <label for="email_address_8" class="form-label">Alert Email Address 8*</label>
                </div>
                <div class="col-md-4 form-group">
                  <input type="email" class="form-control" name="email_address_9" id="email_address_9" placeholder=" " required>
                  <label for="email_address_9" class="form-label">Alert Email Address 9*</label>
                </div>
                <div class="col-md-4 form-group">
                  <input type="email" class="form-control" name="email_address_10" id="email_address_10" placeholder=" " required>
                  <label for="email_address_10" class="form-label">Alert Email Address 10*</label>
                </div>
                <div class="form-buttons">
                  <button class="btn btn-outline-danger" type="button" data-bs-dismiss="modal" aria-label="hidden">Close</button>
                  <button class="btn btn-outline-success">Save</button>
                </div>
              </div>
            </div>
          </form>
                    </div>
                    <!-- SMS Form (Empty) -->
                    <div class="tab-pane fade" id="sms" role="tabpanel" aria-labelledby="sms-tab">
                        <form id="smsForm">
                            <div class="container">
                              <div class="row">
                                <div class="col-md-12 form-group d-flex align-items-center ">
                                  <h6 style="margin-right: 10px;">SMS System:</h6>
                                  <div id="status">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="sms_status" id="sms-enable1" value="Enable" checked>
                                      <label class="form-check-label" for="sms-enable1">Enable</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="sms_status" id="sms-disable1" value="Disable">
                                      <label class="form-check-label" for="sms-disable1">Disable</label>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6 form-group">
                                  <input type="text" class="form-control" name="sms_delay" id="sms_delay" placeholder=" " required>
                                  <label for="sms_delay" class="form-label">SMS Alert Delay*</label>
                                </div>
                                <div class="col-md-6 form-group">
                                  <input type="time" class="form-control" name="sms_time" id="sms_time" placeholder=" " required>
                                  <label for="sms_time" class="form-label">SMS Time</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_user1" id="mobile_user1" placeholder=" " required>
                                  <label for="mobile_user1" class="form-label">Mobile User Name 1</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_no1" id="mobile_no1" placeholder=" " required>
                                  <label for="mobile_no1" class="form-label">Mobile No 1</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_user2" id="mobile_user2" placeholder=" " required>
                                  <label for="mobile_user2" class="form-label">Mobile User Name 2</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_no2" id="mobile_no2" placeholder=" " required>
                                  <label for="mobile_no2" class="form-label">Mobile No 2</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_user3" id="mobile_user3" placeholder=" " required>
                                  <label for="mobile_user3" class="form-label">Mobile User Name 3</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_no3" id="mobile_no3" placeholder=" " required>
                                  <label for="mobile_no3" class="form-label">Mobile No 3</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_user4" id="mobile_user4" placeholder=" " required>
                                  <label for="mobile_user4" class="form-label">Mobile User Name 4</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_no4" id="mobile_no4" placeholder=" " required>
                                  <label for="mobile_no4" class="form-label">Mobile No 4</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_user5" id="mobile_user5" placeholder=" " required>
                                  <label for="mobile_user5" class="form-label">Mobile User Name 5</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_no5" id="mobile_no5" placeholder=" " required>
                                  <label for="mobile_no5" class="form-label">Mobile No 5</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_user6" id="mobile_user6" placeholder=" " required>
                                  <label for="mobile_user6" class="form-label">Mobile User Name 6</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_no6" id="mobile_no6" placeholder=" " required>
                                  <label for="mobile_no6" class="form-label">Mobile No 6</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_user7" id="mobile_user7" placeholder=" " required>
                                  <label for="mobile_user7" class="form-label">Mobile User Name 7</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_no7" id="mobile_no7" placeholder=" " required>
                                  <label for="mobile_no7" class="form-label">Mobile No 7</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_user8" id="mobile_user8" placeholder=" " required>
                                  <label for="mobile_user8" class="form-label">Mobile User Name 8</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_no8" id="mobile_no8" placeholder=" " required>
                                  <label for="mobile_no8" class="form-label">Mobile No 8</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_user9" id="mobile_user9" placeholder=" " required>
                                  <label for="mobile_user9" class="form-label">Mobile User Name 9</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_no9" id="mobile_no9" placeholder=" " required>
                                  <label for="mobile_no9" class="form-label">Mobile No9</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_user10" id="mobile_user10" placeholder=" " required>
                                  <label for="mobile_user10" class="form-label">Mobile User Name 10</label>
                                </div>
                                <div class="col-md-3 form-group">
                                  <input type="text" class="form-control" name="mobile_no10" id="mobile_no10" placeholder=" " required>
                                  <label for="mobile_no10" class="form-label">Mobile No 10</label>
                                </div>
                                <div class="form-buttons">
                                  <button class="btn btn-outline-danger" type="button" data-bs-dismiss="modal" aria-label="hidden">Close</button>
                                  <button class="btn btn-outline-success">Save</button>
                                </div>
                              </div>
                            </div>
                          </form>
                    </div>
                    <!-- WhatsApp Form (Empty) -->
                    <div class="tab-pane fade" id="whatsapp" role="tabpanel" aria-labelledby="whatsapp-tab">
                         <!-- WhatsApp Form fields -->
          <form id="whatsappForm">
            <div class="container">
              <div class="row">
                <div class="col-md-12 form-group d-flex align-items-center ">
                  <h6 style="margin-right: 10px;">Whatsapp Message System:</h6>
                  <div id="status">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="whatsapp_status" id="whatsapp-enable1" value="Enable" checked>
                      <label class="form-check-label" for="whatsapp-enable1">Enable</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="whatsapp_status" id="whatsapp-disable1" value="Disable">
                      <label class="form-check-label" for="whatsapp-disable1">Disable</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" name="whatsapp_delay" id="whatsapp_delay" placeholder=" " required>
                  <label for="whatsapp_delay" class="form-label">WhatsApp Message Alert Delay*</label>
                </div>
                <div class="col-md-6 form-group">
                  <input type="time" class="form-control" name="whatsapp_time" id="whatsapp_time" placeholder=" " required>
                  <label for="whatsapp_time" class="form-label">Whatsapp Message Time</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_user1" id="whatsapp_user1" placeholder=" " required>
                  <label for="whatsapp_user1" class="form-label">Whatsapp User Name 1</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_no1" id="whatsapp_no1" placeholder=" " required>
                  <label for="whatsapp_no1" class="form-label">Whatsapp No 1</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_user2" id="whatsapp_user2" placeholder=" " required>
                  <label for="whatsapp_user2" class="form-label">Whatsapp User Name 2</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_no2" id="whatsapp_no2" placeholder=" " required>
                  <label for="whatsapp_no2" class="form-label">Whatsapp No 2</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_user3" id="whatsapp_user3" placeholder=" " required>
                  <label for="whatsapp_user3" class="form-label">Whatsapp User Name 3</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_no3" id="whatsapp_no3" placeholder=" " required>
                  <label for="whatsapp_no3" class="form-label">Whatsapp No 3</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_user4" id="whatsapp_user4" placeholder=" " required>
                  <label for="whatsapp_user4" class="form-label">Whatsapp User Name 4</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_no4" id="whatsapp_no4" placeholder=" " required>
                  <label for="whatsapp_no4" class="form-label">Whatsapp No 4</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_user5" id="whatsapp_user5" placeholder=" " required>
                  <label for="whatsapp_user5" class="form-label">Whatsapp User Name 5</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_no5" id="whatsapp_no5" placeholder=" " required>
                  <label for="whatsapp_no5" class="form-label">whatsapp No 5</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_user6" id="whatsapp_user6" placeholder=" " required>
                  <label for="whatsapp_user6" class="form-label">Whatsapp User Name 6</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_no6" id="whatsapp_no6" placeholder=" " required>
                  <label for="whatsapp_no6" class="form-label">Whatsapp No 6</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_user7" id="whatsapp_user7" placeholder=" " required>
                  <label for="whatsapp_user7" class="form-label">Whatsapp User Name 7</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_no7" id="whatsapp_no7" placeholder=" " required>
                  <label for="whatsapp_no7" class="form-label">Whatsapp No 7</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_user8" id="whatsapp_user8" placeholder=" " required>
                  <label for="whatsapp_user8" class="form-label">Whatsapp User Name 8</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_no8" id="whatsapp_no8" placeholder=" " required>
                  <label for="whatsapp_no8" class="form-label">Whatsapp No 8</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_user9" id="whatsapp_user9" placeholder=" " required>
                  <label for="whatsapp_user9" class="form-label">Whatsapp User Name 9</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_no9" id="whatsapp_no9" placeholder=" " required>
                  <label for="whatsapp_no9" class="form-label">Whatsapp No 9</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_user10" id="whatsapp_user10" placeholder=" " required>
                  <label for="whatsapp_user10" class="form-label">Whatsapp User Name 10</label>
                </div>
                <div class="col-md-3 form-group">
                  <input type="text" class="form-control" name="whatsapp_no10" id="whatsapp_no10" placeholder=" " required>
                  <label for="whatsapp_no10" class="form-label">Whatsapp No 10</label>
                </div>
                <div class="form-buttons">
                  <button class="btn btn-outline-danger" type="button" data-bs-dismiss="modal" aria-label="hidden">Close</button>
                  <button class="btn btn-outline-success">Save</button>
                </div>
              </div>
            </div>
          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for department in departments %}
<div class="modal fade" id="editDeptModal-{{ department.id }}" tabindex="-1" aria-labelledby="editDeptModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container-custom ">
            <div class="modal-header">
                <h4 class="modal-title" id="editDeptModalLabel">Edit Department Form</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editDepartmentForm" method="post" action="{% url 'edit_department' department.id %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" name="edit_dept_name" id="edit_dept_name" value="{{ department.department_name }}" maxlength="50" required>
                            <label for="edit_dept_name" class="form-label">Dept. Name</label>
                        </div>
                        <div class="col-md-6 form-group">
                          <select class="form-select" id="edit_commGroup" value="{{ department.commGroup }}" name="edit_commGroup" placeholder=" " required>
                              {% for group in groups %}
                              <option value="{{ group.CommGroup_name }}" {% if group.CommGroup_name == department.commGroup.CommGroup_name %}selected{% endif %}>{{ group.CommGroup_name }}</option>
                              {% endfor %}
                          </select>
                          <label for="edit_commGroup" class="form-label">Comm. Group*</label>
                      </div>
                      </div>
                      <div class="col-md-12 form-group">
                          <input type="text" class="form-control" id="edit_headerNote" name="edit_headerNote" value="{{ department.header_note }}" placeholder=" " required>
                          <label for="edit_headerNote" class="form-label">Header Note*</label>
                      </div>
                      <div class="col-md-12 form-group">
                          <input type="text" class="form-control" id="edit_footerNote" name="edit_footerNote" value="{{ department.footer_note }}" placeholder=" " required>
                          <label for="edit_footerNote" class="form-label">Footer Note</label>
                      </div>
                      <div class="col-md-12 form-group d-flex align-items-center ">
                        <h6 style="margin-right: 10px;">Report Date/Time Stamp:</h6>
                        <div id="status">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="edit_report_datetime_stamp" id="report-datetime-stamp-yes-{{ department.id }}" value="True"
                            {% if department.report_datetime_stamp %} checked {% endif %}>
                            <label class="form-check-label" for="report-datetime-stamp-yes-{{ department.id }}">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="edit_report_datetime_stamp" id="report-datetime-stamp-no-{{ department.id }}" value="False"
                            {% if not department.report_datetime_stamp %} checked {% endif %}>
                            <label class="form-check-label" for="report-datetime-stamp-no-{{ department.id }}">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<script>
  document.querySelectorAll('.btn-edit').forEach(button => {
  button.addEventListener('click', function() {
      const modalId = this.getAttribute('data-bs-target');
      const modal = document.querySelector(modalId);
      const modalInstance = new bootstrap.Modal(modal);
      modalInstance.show();
  });
});
</script>

{% block scripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  <script src="{% static 'js/Management/department.js' %}"></script>
{% endblock %}
{% endblock content %}
<script>
  
document.getElementById('departmentModal').addEventListener('hidden.bs.modal', function (e) {
    // Reset each form by its ID
    document.getElementById('deptForm').reset();
    document.getElementById('emailForm').reset();
    document.getElementById('smsForm').reset();
    document.getElementById('whatsappForm').reset();
    
    // Remove 'filled' class from inputs and selects
    const inputs = document.querySelectorAll(".form-control, .form-select");
    inputs.forEach(input => input.classList.remove("filled"));
});

</script>