{% extends "Base/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block styles %}
    {{ block.super }}
    <style type="text/css">
        .content {
            height: 75vh !important;
        }
        .content.edit-mode {
            height: 75vh !important;
        }

        .avatar {
            margin-top: 10px;
            width: 200px;  
            height: 200px; 
            object-fit: cover; 
            border-radius: 50%; 
        }
        
        .address-input {
            height: 100px; 
        }
        .header {
            text-align: center;
            color: #000d1d;
        }
        
        .edit-button {
            position: absolute;
            top: 5px;
            right: 20px;
        }
        .floating-alert {
            position: fixed;
            top: -100px;
            right: 30%;
            z-index: 1050;
            width: auto;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #28a745; /* Green background for success */
            color: white;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            transition: top 0.5s ease-in-out;
        }

        .floating-alert.show {
            top: 100px;
        }
        @media (width: 768px) {
            .content {
                height: 85vh !important;
            }
        }
        @media (max-width: 767px) {
            .content {
                height: 75vh !important;
            }
            .edit-button {
                position: absolute;
                top: 0px;
                right: 20px;
            }
            .header {
                text-align: left;
                color: #000d1d;
            }

        }
        @media (max-width: 576px) {
            .floating-alert {
                /* position: fixed; */
                top: -100px;
                left: 0px;
                transform: translateX(5%);
                z-index: 1050;
                width: 90%;
                padding: 10px 20px;
                border-radius: 5px;
                background-color: #28a745; /* Green background for success */
                color: white;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                transition: top 0.5s ease-in-out;
            }
            .content {
                height: 75vh !important;
            }
            .edit-button {
                position: absolute;
                top: 0px;
                right: 20px;
            }
            .header {
                text-align: left;
                color: #000d1d;
            }
        }
    </style>
{% endblock styles %}

{% block content %}
{% if organization %}
<div class="container mt-2 position-relative">
    <div id="floating-alert" class="floating-alert">
        Organization details updated successfully!
    </div>
    <!-- Edit Button -->
    {% if data.role == 'Super Admin' or acc_db.org_e %}
    <a href="{% url 'edit_organization' organization.id %}" class="btn btn-outline-primary edit-button">Edit</a>
    {% endif %}

    <h1 class="header">Company Profile</h1>
    <hr>
    <div class="row">
        <div class="col-lg-3">
            <div class="text-center">  
                <div class="text-center">                                                 
                    {% if organization.logo %}
                        <img src="{{ organization.logo.url }}" class="img-thumbnail square-img mt-5" alt="Company Logo">
                    {% else %}
                        <img src="{% static 'images/Base/Sunwell_logo.jpg' %}" class="img-thumbnail square-img mt-5" alt="Company Logo">
                    {% endif %}

                </div>
            </div>
        </div>
        
        <div class="col-lg-9 mt-2">
            <div class="mb-3 row">
                <label for="name" class="col-lg-3 col-form-label"><strong>Company Name:</strong></label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" name="name" id="name" value="{{ organization.name }}" autocomplete="organization" required readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="email" class="col-lg-3 col-form-label"><strong>Email:</strong></label>
                <div class="col-lg-9">
                    <input type="email" class="form-control" name="email" id="email" value="{{ organization.email }}" autocomplete="email" required readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="phoneNo" class="col-lg-3 col-form-label"><strong>Phone Number:</strong></label>
                <div class="col-lg-9">
                    <input type="tel" class="form-control" name="phoneNo" id="phoneNo" value="{{ organization.phoneNo }}" required readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="address" class="col-lg-3 col-form-label"><strong>Address</strong>:</label>
                <div class="col-lg-9">
                    <textarea class="form-control address-input" name="address" readonly id="address" autocomplete="address" required>{{ organization.address }} </textarea>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}

<div class="container mt-2">
    <h1 class="text-center header">Company Profile</h1>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-3">
                <div class="text-center">                    
                    <h6>Upload a different photo...</h6>
                    <input type="file" class="form-control" name="logo" accept="image/*">
                </div>
            </div>
            
            <div class="col-lg-9 mt-4">
                <div class="mb-3 row">
                    <label for="name" class="col-lg-3 col-form-label"><strong>Company Name:</strong></label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" name="name" id="name" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="email" class="col-lg-3 col-form-label"><strong>Email:</strong></label>
                    <div class="col-lg-9">
                        <input type="email" class="form-control" name="email" id="email" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="phoneNo" class="col-lg-3 col-form-label"><strong>Phone Number:</strong></label>
                    <div class="col-lg-9">
                        <input type="tel" class="form-control" name="phoneNo" id="phoneNo" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="address" class="col-lg-3 col-form-label"><strong>Address</strong>:</label>
                    <div class="col-lg-9">
                        <textarea class="form-control address-input" name="address" id="address"></textarea>
                    </div>
                </div>
                
                <div class="mb-3 row">
                    <div class="col-lg-8 offset-lg-3 text-end">
                        <button type="reset" class="btn btn-outline-secondary me-2">Reset</button>
                        <button type="submit" class="btn btn-outline-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endif %}
<script>
    function showFloatingAlert() {
        var alertElement = document.getElementById('floating-alert');
        alertElement.classList.add('show');

        // Hide the alert after 2 seconds
        setTimeout(function() {
            alertElement.classList.remove('show');
        }, 2000); // 2 seconds delay
    }

    // Automatically show the floating alert if there's a success message
    window.onload = function() {
        {% if messages %}
            {% for message in messages %}
                {% if 'success' in message.tags %}
                    showFloatingAlert();
                {% endif %}
            {% endfor %}
        {% endif %}
    }
</script>
{% endblock content %}
