{% extends "Base/base.html" %}
{% load static %}
{% block title %} user_access {% endblock %}
{% block styles %}
    {{ block.super }}
    <style>
        .table-container {
             height:95%;
             background-color: #f9f9f9;
             border-radius: 10px;
             padding: 20px;
             box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         }
         .table th {
             text-align: center;
             vertical-align: middle;
         }
         .table thead th {
             position: sticky;
             top: 0;
             z-index: 1;
             padding: 15px;
             font-weight:600;
             border-bottom: 2px solid #dee2e6;
             background-color: #ededed;
             color: rgb(0, 0, 0);
         }
         @keyframes fadeIn {
             from {
                 opacity: 0;
             }
             to {
                 opacity: 1;
             }
         }
         .main-row td {
             background-color: #e4e4e4;
         }
         .sub-row td {
             background-color: #f8f5f5;
         }
         .super-sub-row td {
             background-color: #fafafa;
         }
         h4 {
             vertical-align: center;
             padding-left: 10px;
             font-size: small;
             font-weight: 700;
         }
 
         h5 {
             vertical-align: center;
             padding-left: 30px;
             font-size: small;
             font-weight: 500;
         }
         h6 {
             vertical-align: center;
             padding-left: 60px;
             font-size: small;
             font-weight: 400;
         }
         tbody {
             display: block;
             max-height: 500px;
             overflow-y: auto;
         }
         thead, tbody tr {
             display: table;
             width: 100%;
             table-layout: fixed;
         }
         .checkbox-cell {
             padding-left: 10px;
             text-align: center; 
         }
     </style>
{% endblock styles %}

{% block content %}
<div class="container table-container fade-in">
    <section class=" d-block custom-label mb-2" style="background-color: rgb(235, 235, 235);text-align: center;font-weight: bold; padding: 5px 0px">
        All Rights Select/Diselect all <input type="checkbox" id="select-all">
    </section>
    <table class="table">
        <thead>
            <tr>
                <th>Menu Name</th>
                <th>View</th>
                <th>Add</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Print</th>
            </tr>
        </thead>
        <tbody id="form-data-table">
            <tr class="main-row">
                <td><h4>Administration</h4></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Organization</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Comm. Group</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td ><h5>Departments</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Roles and Permissions</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Users</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>App Settings</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Backup</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>System Diagnosis</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Data Archive</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="main-row">
                <td><h4>Configuration</h4></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Equipment Config</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Equipment Settings</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Equipment Status</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Synchronize RTC</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Email and SMS Alert</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Biometric RTC</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Timer Reset</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Lux/UV Timer</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Thaw Timer</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="main-row">
                <td><h4>Real Time</h4></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Real Time Summary</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Real Time Display</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td class="sub-row"><h5>IO Status</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Running Hours</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>>
            </tr>
            <tr class="main-row">
                <td><h4>Data Log Analysis</h4></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Manage Data Log</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Review Data Log</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Approve Data Log</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>View Data Log</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>View Reviewed Data</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>View Approved Data</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>MKT Analysis</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Alarm Log</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Moving Average</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Audit Trails</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Alarm Audit Trails </h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Equipment Audit Trails </h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>User Audit Trails</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Email Audit Trails</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>SMS Audit Trails</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Review/Approved Audit Trails</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="main-row">
                <td><h4>Archive Analysis</h4></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Data Log Analysis</h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>View Data Log</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>View Reviwed Data Log</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>View Aprroved Data Log</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>MKT Analysis</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Alarm Log</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Moving Average</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="sub-row">
                <td><h5>Audit Trails Analysis  </h5></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Alarm Audit Trail </h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Equipment Audit Trail </h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>User Audit Trail</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Email Audit Trail</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>SMS Audit Trail</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr class="super-sub-row">
                <td><h6>Review/Approved Audit Trail</h6></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
        </tbody>
    </table>
</div>

{% block scripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.getElementById('select-all').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('#form-data-table input[type="checkbox"]');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    });
</script>
  {% endblock %}
{% endblock content %}


