

{% extends "Base/base.html" %}
{% load static %}
{% block title %} --::: ESTDAS :::-- {% endblock %}
{% block styles %}
    {{ block.super }}
    <style>
        .table-container {
            background-color: #f9f9f9;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 100%;
            overflow-x: auto;
            display: flex;
            flex-direction: column;
            height: 85vh;
        }
        .table-wrapper {
            flex: 1;
            overflow: auto;
            /* Hide scrollbar for WebKit browsers */
            -webkit-overflow-scrolling: touch;
        }
        .table-wrapper::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        /* Hide scrollbar for Firefox */
        .table-wrapper {
            scrollbar-width: none;
        }
        /* Hide scrollbar for Internet Explorer, Edge */
        .table-wrapper {
            -ms-overflow-style: none;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
        }

        .table th,
        .table tr {
            /* text-align: center; */
            vertical-align: middle;
        }
        .table thead th {
            position: sticky;
            top: 0;
            z-index: 1;
            padding: 15px;
            /* text-align: center; */
            font-weight: 600;
            border-bottom: 2px solid #dee2e6;
            background-color: #eaeaea;
            color: rgb(52, 52, 52);
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        }
        .table tbody tr:hover td {
            cursor: pointer;
            background-color: #f3f3f3;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }
        .table th {
            position: sticky;
            top: 0;
            background-color: #f8f9fa;
        }
        .table td {
            padding: 8px;
            vertical-align: middle;
        }

        .table .dropdown-menu {
            min-width: 150px;
        }

        .custom-label {
            font-weight: 500;
        }
        .scrollable-tbody {
            max-height: 50vh;
            overflow-y: auto;
        }
        .custom-label {
            background-color: rgb(235, 235, 235);
            text-align: center;
            font-weight: bold; 
            padding: 5px 0px;
        }
        .secrow{
            background-color: #f9f9f9;
            text-align: center;
            font-weight: bold;
            padding: 0px 5px;
        }
        .table th {
            text-align: center;
            vertical-align: middle;
        }
        /* .table thead th {
            position: sticky;
            top: 0;
            z-index: 1;
            padding: 15px;
            font-weight:600;
            border-bottom: 2px solid #dee2e6;
            background-color: #ededed;
            color: rgb(0, 0, 0);
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        } */
        /* .table td {
            padding: 8px;
            vertical-align: middle;
        } */
        /* .table tbody tr:hover td {
            background-color: #f3f3f3;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        } */
        tbody {
            /* display: block; */
            max-height: 430px;
            overflow-y: auto;
        }
        /* thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        } */
        .checkbox-cell {
            padding-left: 10px;
            text-align: center; 
        }
        h4 {
            vertical-align: center;
            padding-left: 10px;
            font-size: small;
            font-weight: 700;
        }
 
        h5 {
            vertical-align: center;
            padding-left: 30px;
            font-size: small;
            font-weight: 500;
        }
        h6 {
            vertical-align: center;
            padding-left: 60px;
            font-size: small;
            font-weight: 400;
        }
        .main-row td {
            background-color: #e4e4e4;
        }
        .sub-row td {
            background-color: #f8f5f5;
        }
        .super-sub-row td {
            background-color: #fafafa;
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        } 
        @media (max-width: 992px) {
            .content {
                height: 89vh !important;
            }
        }
        @media (width: 768px) {
            .content {
                height: 85vh !important;
            }
        }
        @media (max-width: 767px) {
            .content {
                height: 75vh !important;
            }
        }
     </style>
{% endblock styles %}

{% block content %}
<div class="container table-container fade-in">
    <section class=" d-block custom-label mb-2">
        <label class="align-middle">
            All Rights Select/Diselect all 
            <input type="checkbox" id="select-all" class="ms-2 align-middle">
        </label>
    </section>
    <form  method="post" >
        {% csrf_token %}
            <div class="secrow d-flex justify-content-between align-items-center">
            {% if data.role == 'Super Admin' or acc_db.role_e %}
                <label>Role = {{ role }}</label>
                <button type="submit" class="btn btn-primary btn-sm mb-2">Save Changes</button>
            </div> 
            <!-- {% if data.role == 'Admin' and  role_dt.role == 'Admin' %}
            {% else %}
            {% endif %} -->
            
        {% endif %}
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>Menu Name</th>
                        <th>View</th>
                        <th>Add</th>
                        <th>Edit</th>
                        <th>Print</th>
                        <th></th> 
                    </tr>
                </thead>
                <tbody id="form-data-table">
                    <tr class="main-row" data-group="realtime">
                        <td><h4>Dashboard</h4></td>
                        <td class="checkbox-cell"><input type="checkbox"></td>
                        <td class="checkbox-cell"><input type="checkbox"></td>
                        <td class="checkbox-cell"><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                    <tr class="main-row" data-group="management">
                        <td><h4>Management</h4></td>
                        <td class="checkbox-cell"><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                    <tr class="sub-row management">
                        <td><h5>Organization</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="org_v" {% if role_dt and role_dt.org_v %} checked {% endif %} ></td>
                        <td class="checkbox-cell"><input type="checkbox" name="org_a" {% if role_dt and role_dt.org_a %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="org_e" {% if role_dt and role_dt.org_e %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row management">
                        <td><h5>App Settings</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="app_v" {% if role_dt and role_dt.app_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="app_a" {% if role_dt and role_dt.app_a %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="app_e" {% if role_dt and role_dt.app_e %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row management">
                        <td><h5>Comm. Group</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="c_group_v" {% if role_dt and role_dt.c_group_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="c_group_a" {% if role_dt and role_dt.c_group_a %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="c_group_e" {% if role_dt and role_dt.c_group_e %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row management">
                        <td><h5>Departments</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="dep_v" {% if role_dt and role_dt.dep_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="dep_a" {% if role_dt and role_dt.dep_a %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="dep_e" {% if role_dt and role_dt.dep_e %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row management">
                        <td><h5>Roles and Permissions</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="role_v" {% if role_dt and role_dt.role_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="role_a" {% if role_dt and role_dt.role_a %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="role_e" {% if role_dt and role_dt.role_e %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row management">
                        <td><h5>Users</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="user_v" {% if role_dt and role_dt.user_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="user_a" {% if role_dt and role_dt.user_a %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="user_e" {% if role_dt and role_dt.user_e %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row management">
                        <td><h5>Backup</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="back_v" {% if role_dt and role_dt.back_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="back_a" {% if role_dt and role_dt.back_a %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="back_e" {% if role_dt and role_dt.back_e %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row management">
                        <td><h5>Restore</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="res_v" {% if role_dt and role_dt.res_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="res_a" {% if role_dt and role_dt.res_a %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="res_e" {% if role_dt and role_dt.res_e %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row management">
                        <td><h5>System Check</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="sys_v" {% if role_dt and role_dt.sys_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="sys_a" {% if role_dt and role_dt.sys_a %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="sys_e" {% if role_dt and role_dt.sys_e %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>

                    <tr class="main-row" data-group="config">
                        <td><h4>Equip Settings</h4></td>
                        <td class="checkbox-cell"><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="sub-row config">
                        <td><h5>Equipment Config</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="e_conf_v" {% if role_dt and role_dt.e_conf_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="e_conf_a" {% if role_dt and role_dt.e_conf_a %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="e_conf_e" {% if role_dt and role_dt.e_conf_e %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row config">
                        <td><h5>Equipment Settings</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="e_set_v" {% if role_dt and role_dt.e_set_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"><input type="checkbox" name="e_set_e" {% if role_dt and role_dt.e_set_e %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    {% comment %} <tr class="sub-row config">
                        <td><h5>Email and SMS Alert</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="mail_sms_v" {% if role_dt and role_dt.mail_sms_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="mail_sms_a" {% if role_dt and role_dt.mail_sms_a %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="mail_sms_e" {% if role_dt and role_dt.mail_sms_e %} checked {% endif %}></td>
                        <td class="checkbox-cell"><input type="checkbox" name="mail_sms_d" {% if role_dt and role_dt.mail_sms_d %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                    </tr> {% endcomment %}
                    <tr class="main-row" data-group="data_log">
                        <td><h4>Data Analysis</h4></td>
                        <td class="checkbox-cell"><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="sub-row data_log">
                        <td><h5>View Logs</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="v_log_v" {% if role_dt and role_dt.v_log_v %} checked {% endif %}></td>
                        <td></td>
                        <td></td>
                        <td class="checkbox-cell"><input type="checkbox" name="v_log_p" {% if role_dt and role_dt.v_log_p %} checked {% endif %}></td>
                        <td></td>
                    </tr>
                    <tr class="sub-row data_log">
                        <td><h5>Alarm Logs</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="a_log_v" {% if role_dt and role_dt.a_log_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"><input type="checkbox" name="a_log_p" {% if role_dt and role_dt.a_log_p %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row data_log">
                        <td><h5>MKT Analysis</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="mkt_v" {% if role_dt and role_dt.mkt_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"><input type="checkbox" name="mkt_p" {% if role_dt and role_dt.mkt_p %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="main-row" data-group="realtime">
                        <td><h4>Live Data</h4></td>
                        <td class="checkbox-cell"><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="sub-row realtime">
                        <td><h5>Summary</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="sum_v" {% if role_dt and role_dt.sum_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row realtime">
                        <td><h5>Display</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="dis_v" {% if role_dt and role_dt.dis_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row realtime">
                        <td><h5>IO Status</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="io_v" {% if role_dt and role_dt.io_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                    </tr>
                    <tr class="sub-row realtime">
                        <td><h5>Component Hours</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="comp_v" {% if role_dt and role_dt.comp_v %} checked {% endif %}></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                        <td class="checkbox-cell"></td>
                      
                    </tr>
                    
                    <tr class="main-row" data-group="audit_logs">
                        <td><h4>Audit Logss</h4></td>
                        <td class="checkbox-cell"><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="super-sub-row audit_logs">
                        <td><h5>User Activity</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="u_act_v" {% if role_dt and role_dt.u_act_v %} checked {% endif %}></td>
                        <td></td>
                        <td></td>
                        <td class="checkbox-cell"><input type="checkbox" name="u_act_p" {% if role_dt and role_dt.u_act_p %} checked {% endif %}></td>
                        <td></td>
                    </tr>
                    <tr class="sub-row audit_logs">
                        <td><h5>Equipment Activity </h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="u_equ_v" {% if role_dt and role_dt.u_equ_v %} checked {% endif %}></td>
                        <td></td>
                        <td></td>
                        <td class="checkbox-cell"><input type="checkbox" name="u_equ_p" {% if role_dt and role_dt.u_equ_p %} checked {% endif %}></td>
                        <td></td>
                    </tr>
                    <tr class="sub-row audit_logs">
                        <td><h5>Alarm Activity </h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="a_act_v" {% if role_dt and role_dt.a_act_v %} checked {% endif %}></td>
                        <td></td>
                        <td></td>
                        <td class="checkbox-cell"><input type="checkbox" name="a_act_p" {% if role_dt and role_dt.a_act_p %} checked {% endif %}></td>
                        <td></td>
                    </tr>
                    <tr class="super-sub-row audit_logs">
                        <td><h5>Email Audit Trails</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="e_aud_v" {% if role_dt and role_dt.e_aud_v %} checked {% endif %}></td>
                        <td></td>
                        <td></td>
                        <td class="checkbox-cell"><input type="checkbox" name="e_aud_p" {% if role_dt and role_dt.e_aud_p %} checked {% endif %}></td>
                        <td></td>
                    </tr>
                    <tr class="super-sub-row audit_logs">
                        <td><h5>SMS Audit Trails</h5></td>
                        <td class="checkbox-cell"><input type="checkbox" name="s_act_v" {% if role_dt and role_dt.s_act_v %} checked {% endif %}></td>
                        <td></td>
                        <td></td>
                        <td class="checkbox-cell"><input type="checkbox" name="s_act_p" {% if role_dt and role_dt.s_act_p %} checked {% endif %}></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>


{% if success_msg %}
<script>     
    window.onload = function () {
        alert("{{  success_msg|safe }}");                
        window.location.href = "{% url 'role_permission' %}";
    };
</script>
{% endif %}

{% block scripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.getElementById('select-all').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('#form-data-table input[type="checkbox"]');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    });
</script>

<script>
    // Add event listeners for each main row checkbox
    document.querySelectorAll('.main-row input[type="checkbox"]').forEach(function(mainCheckbox) {
        mainCheckbox.addEventListener('change', function() {

            const group = mainCheckbox.closest('.main-row').getAttribute('data-group');
            
            const subRows = document.querySelectorAll(`.sub-row.${group} input[type="checkbox"], .super-sub-row.${group} input[type="checkbox"]`);
            
            subRows.forEach(function(subRowCheckbox) {
                subRowCheckbox.checked = mainCheckbox.checked;
            });
        });
    });

</script>
  {% endblock %}
{% endblock content %}





