
{% extends "Base/base.html" %}
{% load static %}

{% block title %} --::: ESTDAS :::-- {% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/Management/user_group.css' %}">
    <style>
        /* Add responsive styles */
        @media (width: 768px) {
            .d-flex.justify-content-between.align-items-center.mt-3 {
                flex-direction: row; 
                align-items: center !important; 
            }

            .content {
                height: 85vh !important;
            }
        }
        @media (max-width: 767px) {
            .entries-info,
            .pagination {
                justify-content: center !important;
                /* margin-top: 10px; */
            }
            
            .row.align-items-center > div {
                text-align: center;
            }
            .content {
                height: 75vh !important;
            }
            .table-wrapper {
                overflow-x: auto;
            }
            .entries-info {
                flex-direction: column;
                align-items: flex-start;
            }
            .pagination {
                margin-top: 10px;
            }
            .d-flex.justify-content-between.align-items-center.mt-3 > div {
                text-align: center;
                margin: 5px 0;
            }
            #adminUserModal .modal-dialog {
                max-width: 95%;
                margin: 1.75rem auto;
            }
        }

        @media (max-width: 576px) {
            .custom-label {
                flex-direction: column !important;
                align-items: center;
            }
            .content {
                height: 75vh !important;
            }
            .entries-info, .pagination {
                justify-content: center;
                margin-top: 10px;
            }
            #adminUserModal .modal-dialog {
                margin: 0.5rem;
            }
            .d-flex.justify-content-end.align-items-center {
                /* flex-direction: column; */
                align-items: stretch !important;
            }
            
            /* .d-flex.input-group {
                width: 100% !important;
                margin-bottom: 10px;
            } */
            
            .btn-primary {
                width: 100%;
            }   
        }
    </style>
{% endblock styles %}

{% block content %} 
<div class="container mt-2 table-container fade-in">
    <div class="d-flex justify-content-end mb-2">
        <div class="ms-auto">
          <div class="dropdown dept-filter">
            <button
                class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                id="roleFilterDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ status_filter|default:"Select Status" }} {% comment %}<span class="option-count">{{ current_count }}</span>{% endcomment %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="roleFilterDropdown">
                <li>
                    <a class="dropdown-item" href="#" data-value="All Status" onclick="filterByStatus('All Status', {{ total_count }})">
                        All Status {% comment %}<span class="option-count">{{ total_count }}</span>{% endcomment %}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" data-value="Active" onclick="filterByStatus('Active', {{ active_count }})">
                         Active {% comment %}<span class="option-count">{{ active_count }}</span> {% endcomment %}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" data-value="Inactive" onclick="filterByStatus('Inactive', {{ inactive_count }})">
                        Inactive {% comment %}<span class="option-count">{{ inactive_count }}</span>{% endcomment %}
                    </a>
                </li>
            </ul>
        </div>
        
               
        </div>  
    </div>
    <div class="d-flex justify-content-between align-items-center custom-label mt-0 mb-2" style="font-weight: bold; padding: 5px 10px; background-color: rgb(235, 235, 235);">
        <section class="d-block custom-label mb-2" style="background-color: rgb(235, 235, 235);text-align: center;font-weight: bold; padding: 5px 0px">
            Users <span id="records-info">(Records Found: 0, Selected: 0)</span>
        </section>
        <div class="d-flex justify-content-end align-items-center">
            <div class="d-flex input-group me-3" style="width: 200px;">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <input type="text" id="searchBar" class="form-control" placeholder="Search here..">
            </div>
            <div class="d-flex">
              {% if data.role == 'Super Admin' or acc_db.user_a %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adminUserModal">
                    Add User
                </button>
              {% endif %}
            </div>
        </div> 
    </div>
    <div class="table-wrapper">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th scope="col">User Name</th>
                    <th scope="col">Comm. Group</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    {% if data.role == 'Super Admin' or acc_db.user_e %}
                    <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="form-data-table">
                {% for user in users %}
                <tr data-department-id="{{ user.department.id }}">
                    <td><input type="checkbox" class="row-checkbox" name="user_checkbox"></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.commGroup }}</td>
                    <td>{{ user.department }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.status }}</td>
                    {% if data.role == 'Super Admin' or acc_db.user_e %}
                    <td>
                        <div class="dropdown">
                            <a class="dropdown-item btn-edit" data-bs-toggle="edit_modal" data-bs-target="#editUserModal-{{ user.id }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row align-items-center mt-3 mb-2">
        <!-- Entries Per Page Dropdown -->
        <div class="col-12 col-md-5 justify-content-start align-items-center mb-2 mb-md-0 entries-info">
            <span>Show</span>
            <select id="entriesPerPage" class="form-select d-inline-block mx-2 entriesPerPage">
                <option value="10" selected>10</option>
                <option value="15">15</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <span>entries per page</span>
        </div>
        <!-- Showing Entries Info -->
        <div class="col-12 col-md-3 d-flex justify-content-center align-items-center mb-2 mb-md-0">
            <small>Showing <span id="visible-entries">0</span> of <span id="total-entries">0</span> entries</small>
        </div>
        <!-- Pagination -->
        <div class="col-12 col-md-4 d-flex justify-content-md-end justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination mb-0">
                    <li class="page-item" id="prev-page"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item" id="next-page"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
  

 <!-- The Modal -->
 <div class="modal fade" id="adminUserModal" tabindex="-1" aria-labelledby="adminUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container-custom">
  
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="adminUserModalLabel"> User</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
  
      <!-- Modal Body -->
      <div class="modal-body">
        <form id="adminUserForm" method="post" action="{% url 'users' %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="userName" name="userName" autocomplete="username" maxlength="15" placeholder=" " required onblur="checkUsernameAvailability()" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please Enter User Name')">
              <label for="userName" class="form-label">User Name*</label>
              <div id="usernameError" class="text-danger"></div>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="loginName" name="loginName" placeholder=" " required oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please Enter Login Name')">
              <label for="loginName" class="form-label">Login Name*</label>
            </div>
            <div class="col-md-6 form-group">
              <input type="password" class="form-control" id="password" name="password" minlength="8" maxlength="15" placeholder=" " required oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please Enter a Valid Password (8-15 characters)')">
              <label for="password" class="form-label">Password*</label>
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" id="passwordDuration" name="passwordDuration" value="{{ password_duration }}" placeholder=" " required readonly>
              {% comment %} <select class="form-select" id="passwordDuration" name="passwordDuration"  required oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please Select The Password Duration')">
                <option value="">-- Select Password Reset Duration --</option> 
                <option value="30">30 Days</option>
                <option value="60">60 Days</option>
                <option value="90">90 Days</option>
                <option value="120">120 Days</option>
              </select> {% endcomment %}
              <label for="passwordDuration" class="form-label">Set Password Duration in Days</label>
            </div>
            <div class="col-md-6 form-group">
              <select class="form-select" id="role" name="role" placeholder=" " required oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please Select Role')">
                <option value="">--select--</option>
                {% if role_data %}
                {% for i in role_data %}
                <option value="{{i.role}}">{{i.role}}</option>
                {% endfor %}
                {% endif %}
                <!-- Options go here -->
              </select>
              <label for="role" class="form-label">Role*</label>
            </div>
            <div class="col-md-6 form-group">
              <select class="form-select" id="commGroup" name="commGroup" placeholder=" " required oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please Select CommGroup')">
                <option value="">-- Select Comm. Group --</option> 
                {% for group in groups %}
                    <option value="{{ group.CommGroup_code }}">{{ group.CommGroup_name }}</option>
                  {% endfor %} 
              </select>
              <label for="commGroup" class="form-label">Comm. Group*</label>
            </div>
            <div class="col-md-6 form-group">
              <select class="form-select" id="departmentName" name="departmentName" required  oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please Select Department')" disabled>
                <option value="">-- Select Department --</option>
                {% for department in departments %}
                    {% if department.commGroup %}
                        <option value="{{ department.id }}" data-commgroup="{{ department.commGroup.CommGroup_code }}">
                            {{ department.department_name }}
                        </option>
                    {% endif %}
                {% endfor %}
              </select>
              <h6>Status</h6>
              <div id="status">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="status" id="statusActive" value="Active" checked required>
                  <label class="form-check-label" for="statusActive">Active</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="status" id="statusInactive" value="Inactive">
                  <label class="form-check-label" for="statusInactive">Inactive</label>
                </div>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <select class="form-select" name="accessibleDepartment" multiple required oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please Select Accessible Department')">
                {% for department in departments %}
                        <option value="{{ department.id }}" data-commgroup="{{ department.commGroup.CommGroup_code }}">
                            {{ department.department_name }}
                        </option>
                {% endfor %}
              </select>
              <label for="accessibleDepartment" class="form-label">Accessible Department</label>
              <div id="selectedDepartments" class="mt-2"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" id="submitform" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% for user in users %}
<!-- Edit User Modal -->
<div class="modal fade" id="editUserModal-{{ user.id }}" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container-custom">
      <div class="modal-header">
        <h4 class="modal-title" id="editUserModalLabel">Edit User</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editUserForm-{{ user.id }}" method="post" action="{% url 'edit_user' user.id %}">
          {% csrf_token %}
          <input type="hidden" name="userId" value="{{ user.id }}">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="editUsername-{{ user.id }}" name="editUsername" value="{{ user.username }}" maxlength="15" placeholder=" " required oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please write a User Name')">
              <label for="editUsername-{{ user.id }}" class="form-label">User Name*</label>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="editLoginName-{{ user.id }}" name="editLoginName" value="{{ user.login_name }}" placeholder=" " readonly>
              <label for="editLoginName-{{ user.id }}" class="form-label">Login Name*</label>
            </div>
            <div class="col-md-6 form-group">
              <input type="password" class="form-control" id="editPassword-{{ user.id }}" name="editPassword" value="{{ user.password }}" placeholder="" minlength="8" maxlength="15" required oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please write the Valide Password')">
              <label for="editPassword-{{ user.id }}" class="form-label">Password*</label>
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" id="editpasswordDuration-{{ user.id }}" name="editpasswordDuration" value="{{ user.password_duration }}" placeholder=" " required readonly>
              {% comment %} <select class="form-select" id="editpasswordDuration-{{ user.id }}" name="editpasswordDuration" required>
                <option value="30" {% if user.password_duration == 30 %}selected{% endif %}>30 Days</option>
                <option value="60" {% if user.password_duration == 60 %}selected{% endif %}>60 Days</option>
                <option value="90" {% if user.password_duration == 90 %}selected{% endif %}>90 Days</option>
                <option value="120" {% if user.password_duration == 120 %}selected{% endif %}>120 Days</option>
              </select> {% endcomment %}
              <label for="editpasswordDuration-{{ user.id }}" class="form-label">Set Password Duration in Days</label>
            </div>
            <div class="col-md-6 form-group">
              <select class="form-select" id="editRole-{{ user.id }}" name="editRole" required>
                <option value="{{user.role}}">{{user.role}}</option>
                {% if role_data %}
                {% for i in role_data %}
                <option value="{{i.role}}">{{i.role}}</option>
                {% endfor %}
                {% endif %}
              </select>
              <label for="editRole-{{ user.id }}" class="form-label">Role*</label>
            </div>
            <div class="col-md-6 form-group">
              <select class="form-select" id="editCommGroup-{{ user.id }}" name="editCommGroup" required>
                {% for group in groups %}
                  <option value="{{ group.CommGroup_code }}" {% if group == user.commGroup %}selected{% endif %}>
                    {{ group.CommGroup_name }}
                  </option>
                {% endfor %}
              </select>
              <label for="editCommGroup-{{ user.id }}" class="form-label">Comm. Group*</label>
            </div>
            <div class="col-md-6 form-group">

              <select class="form-select" id="editdeptName-{{ user.id }}" name="editdepartmentName" required>
                <option value="{{user.department}}">{{user.department}}</option>
                {% for department in departments %}
                    <option value="{{ department.id }}" 
                            data-commgroup="{{ department.commGroup.CommGroup_code }}" 
                            {% if department.id == user.department.id %}selected{% endif %}>
                        {{ department.department_name }}
                    </option>
                {% endfor %}
              </select>
            
              <label for="editdepartmentName-{{ user.id }}" class="form-label">Department*</label>
            
              <h6>Status</h6>
              <div id="status">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="editstatus" id="statusActive-{{ user.id }}" value="Active" {% if user.status == 'Active' %}checked{% endif %} required>
                  <label class="form-check-label" for="statusActive">Active</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="editstatus" id="statusInactive-{{ user.id }}" value="Inactive" {% if user.status == 'Inactive' %}checked{% endif %}>
                  <label class="form-check-label" for="statusInactive">Inactive</label>
                </div>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <select class="form-select" id="editaccessibleDepartment-{{ user.id }}" name="editaccessibleDepartment" multiple required>
                {% for department in departments %}
                  {% if department.commGroup %}
                    <option value="{{ department.id }}" data-commgroup="{{ department.commGroup.CommGroup_code }}" {% if department in user.accessible_departments.all %}selected{% endif %}>
                      {{ department.department_name }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>
              <label for="editaccessibleDepartment-{{ user.id }}" class="form-label">Accessible Department</label>
              <div id="selectededitDepartments-{{ user.id }}" class="mt-2"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endfor %}

<script>

  function filterByStatus(status, count) {
    const dropdownButton = document.getElementById("roleFilterDropdown");

    // Update the button text with the selected status and count
    dropdownButton.innerHTML = `${status} `;

    // Update the URL with the selected status
    const url = new URL(window.location.href);
    url.searchParams.set("status", status === "All Status" ? "all" : status);
    window.location.href = url.toString();
}





  function getExistingUsernames() {
      const tableRows = document.querySelectorAll('#form-data-table tr');
      const usernames = [];
      tableRows.forEach(row => {
          const usernameCell = row.querySelector('td:nth-child(2)'); 
          if (usernameCell) {
              usernames.push(usernameCell.textContent.trim());
          }
      });

      return usernames;
  }

  function checkUsernameAvailability() {
     
      const inputUsername = document.getElementById('userName').value;
      const usernameErrorDiv = document.getElementById('usernameError');
      const existingUsernames = getExistingUsernames();
      const saveButton=document.getElementById('submitform')

      if (existingUsernames.includes(inputUsername)) {
          usernameErrorDiv.textContent = 'This username is already taken.';
          saveButton.disabled = true;
      } else {
          usernameErrorDiv.textContent = '';
          saveButton.disabled = false; 
      }
  }
</script>

<script>
    document.querySelectorAll('.btn-edit').forEach(button => {
    button.addEventListener('click', function() {
        const modalId = this.getAttribute('data-bs-target');
        const modal = document.querySelector(modalId);
        const modalInstance = new bootstrap.Modal(modal);
        modalInstance.show();
    });
  });

  ///// Form filters ////////////////////////////////////

    document.addEventListener("DOMContentLoaded", function() {
      // Function to filter the "Select Department" dropdown based on selected CommGroup
      function filterDepartments(commGroupSelect, departmentSelect) {
          const commGroupValue = commGroupSelect.value;
          const departmentOptions = departmentSelect.querySelectorAll('option');

          departmentOptions.forEach(option => {
              if (option.value === "") {
                  // Always show the default 'Select Department' option
                  option.style.display = "block";
              } else if (option.dataset.commgroup === commGroupValue || commGroupValue === "") {
                  // Show options that match the selected CommGroup
                  option.style.display = "block";
              } else {
                  // Hide options that don't match the selected CommGroup
                  option.style.display = "none";
              }
          });

          // Enable/disable the department select based on CommGroup selection
          departmentSelect.disabled = !commGroupValue;
          departmentSelect.value = ""; // Reset the department selection to the default
      }

      // Loop through each edit modal to attach event listeners
      document.querySelectorAll('[id^="editUserModal-"]').forEach(modal => {
          const commGroupSelect = modal.querySelector('.form-select[id^="editCommGroup"]');
          const departmentSelect = modal.querySelector('.form-select[id^="editdepartmentName"]');

          // Attach the event listener to the CommGroup dropdown for each modal
          if (commGroupSelect && departmentSelect) {
              commGroupSelect.addEventListener('change', function() {
                  filterDepartments(commGroupSelect, departmentSelect);
              });

              // Initial call to filter departments based on the initially selected CommGroup
              filterDepartments(commGroupSelect, departmentSelect);
          }
      });

      // Event listener for the main Add User modal (if needed)
      const mainCommGroupSelect = document.getElementById('commGroup');
      const mainDepartmentSelect = document.getElementById('departmentName');

      if (mainCommGroupSelect && mainDepartmentSelect) {
          mainCommGroupSelect.addEventListener('change', function() {
              filterDepartments(mainCommGroupSelect, mainDepartmentSelect);
          });

          // Initial call to filter departments based on the initially selected CommGroup in Add User modal
          filterDepartments(mainCommGroupSelect, mainDepartmentSelect);
      }
  });

  ///////// Filtering user values from nav bar accessible departments ////////////
  
  document.addEventListener("DOMContentLoaded", function() {
    const departmentSelect = document.getElementById("departmentSelect");

    // Retrieve the selected department ID from localStorage; default to "all" if not set
    let selectedDepartmentId = localStorage.getItem("selectedDepartmentId") || "all";

    // Set the dropdown to the saved value
    departmentSelect.value = selectedDepartmentId;

    // Function to filter users based on selected department
    function filterUsersByDepartment(departmentId) {
        const rows = document.querySelectorAll("#form-data-table tr");
        rows.forEach(row => {
            const rowDepartmentId = row.getAttribute("data-department-id");
            if (departmentId === "all" || rowDepartmentId === departmentId) {
                row.style.display = ""; // Show row
            } else {
                row.style.display = "none"; // Hide row
            }
        });

        // Update the records info based on visible rows
        const visibleRows = Array.from(rows).filter(row => row.style.display !== "none");
        document.getElementById("records-info").textContent = `(Records Found: ${visibleRows.length}, Selected: 0)`;
    }

    // Apply the filter based on the selected department ID from localStorage
    filterUsersByDepartment(selectedDepartmentId);

    // Event listener for department selection change
    departmentSelect.addEventListener("change", function() {
        selectedDepartmentId = this.value;
        localStorage.setItem("selectedDepartmentId", selectedDepartmentId); // Save selection in localStorage
        filterUsersByDepartment(selectedDepartmentId); // Apply filter
    });
});

document.addEventListener("DOMContentLoaded", function () {
  const form = document.getElementById("adminUserForm");

  // Attach a submit event listener to the form
  form.addEventListener("submit", function (event) {
    const fields = form.querySelectorAll("[required]");
    let isValid = true;

    fields.forEach((field) => {
      if (!field.checkValidity()) {
        isValid = false;
        field.reportValidity();
      }
    });

    if (!isValid) {
      event.preventDefault(); // Prevent form submission if validation fails
    }
  });
});


</script>



{% block scripts %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="{% static 'js/Management/user_group.js' %}"></script>
{% endblock %}
{% endblock content %}


